/* Reset Rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

ul,
ol,
menu{
    list-style: none;
}

/* Color */

:root{
    --blue: #141922;
    --dark-blue: #080B12;
    --grey: #282828;
    --light-grey: #A3A3A3;
}

/* Dimensioni */

:root{
    --height-player-section: 90px;
}

/* Debug Rules */

.debug [class^="col-"] {
    border: 3px solid rgb(17, 232, 17);
}

/************
MACRO LAYOUT
************/

/* Vertical Macro Layout */

.vertical-macro-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.vertical-macro-layout__top{
    flex-grow: 1;
    overflow: hidden;
}

.vertical-macro-layout__bottom{
    flex-shrink: 0;
    overflow: hidden;
}

/* Horizontal Macro Layout */

.horizontal-macro-layout{
    display: flex;
    width: 100%;
}

.main-header{
    width: 230px;
    flex-shrink: 0;
    overflow: hidden;
}

.main-content{
    flex-grow: 1;
    overflow-y: auto;
}

@media screen and (max-width:552px) {

    .main-header{
        width: 50px;
    }

}

/* General Rules */

.row{
    display: flex;
    flex-wrap: nowrap;
}

.align-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

/* Colonne */

.col-100{
    flex-basis: 100%;
}

/* Player Section */

.player-section{
    padding: 0 11px;
    background-color: var(--grey);
    color: white;
}

.player-section > .row{
    justify-content: space-between;
    height: var(--height-player-section);
}

.player-section .col-side{
    flex-basis: 200px;
}

.player-section .col-center{
    flex-basis: 40%;
}

/* Colonna Sinistra */

.player-section .player-section__album-img{
    max-width: 42px;
    margin-right: 12px;
}

.player-section .player-section__left > .row{
    justify-content: space-between;
}

.player-section .player-section__icon-left{
    gap: 14px;
    color: var(--light-grey);
}

.player-section__album{
    font-size: 13px;
    font-weight: 600;
}

.player-section__nome-brano{
    font-size: 11px;
    color: var(--light-grey);
}

/* Colonna Destra */

.player-section__icon-right > .row{
    gap: 17px;
}

.player-section__right > .row{
    gap: 17px;
}

.player-section__volume > .row{
    gap: 14px;
}

.player-section__volume {
    flex-grow: 1;
}

.player-section__volume .volume-bar{
    width: 100%;
    position: relative;
}

.volume-progress,
.volume-total {
    height: 5px;
    position: absolute;
    transform: translate(0, -50%);
    top: 0;
    left: 0;
    border-radius: 30px;
}

.volume-progress{
    width: 30%;
    background-color: var(--light-grey);
    z-index: 1;
}

.volume-total{
    width: 100%;
    background-color: #5A5A5A;
}

.player-section__right i{
    font-size: 13px;
}

/* Colonna Centrale */
.player-section__center > .row{
    flex-direction: column;
}


.player-section__center-bottom > .row{
    justify-content: space-between;
}

.player-section__center-bottom .volume-bar{
    width: 80%;
    position: relative;
}

.player-section__center-top > .row{
    justify-content: center;
    gap: 22px;
}

.player-section__center-top .play-icon{
    font-size: 30px;
    padding: 0 10px;
}