/* Reset Rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

ul,
ol,
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* Color */

:root{
    --blue: #141922;
    --dark-blue: rgb(8, 11, 18, 0.8);
    --grey: #282828;
    --light-grey: #A3A3A3;
    --background-header: black;
}

/* Dimensioni */

:root{
    --height-player-section: 90px;
}

/* Debug Rules */

.debug [class^="col-"] {
    border: 3px solid rgb(17, 232, 17);
}

/************
MACRO LAYOUT
************/

/* Vertical Macro Layout */

.vertical-macro-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.vertical-macro-layout__top{
    flex-grow: 1;
    overflow: hidden;
}

.vertical-macro-layout__bottom{
    flex-shrink: 0;
    overflow: hidden;
}

/* Horizontal Macro Layout */

.horizontal-macro-layout{
    display: flex;
    width: 100%;
}

.main-header{
    width: 230px;
    flex-shrink: 0;
    overflow: hidden;
}

.main-content{
    flex-grow: 1;
    overflow-y: auto;
}

@media screen and (max-width:552px) {

    .main-header{
        width: 50px;
    }

}

/* General Rules */

.row{
    display: flex;
    flex-wrap: nowrap;
}

.align-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.button {
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 40px;
    border: 1px solid white;
    border-radius: 99px;
    font-weight: 600;
}

.title-section{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.subtitle-section{
    font-size: 12px;
    font-weight: 600;
    color: var(--light-grey);
}

.container{
    padding-left: 20px;
    padding-right: 35px;
}

/* Colonne */

.col-100{
    flex-basis: 100%;
}

/* Card */

.img-container{
    position: relative;
    margin-bottom: 21px;
}

.card-img{
    width: 177px;
}

.card-title{
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.card-subtitle{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: var(--light-grey);
}

.card > .row {
    flex-direction: column;
    align-items: center;
}

.overlay {
    display: none;
}

.card:hover .overlay{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 5;
    font-size: 60px;
    color: white;
}

.card:hover .card-img{
    opacity: 0.2;
}

/* Player Section */

.player-section{
    background-color: var(--grey);
    color: white;
}

.player-section > .row{
    justify-content: space-between;
    height: var(--height-player-section);   
}

.player-section .col-side{
    flex-basis: 230px;
}

.player-section .col-center{
    flex-basis: 40%;
}

/* Colonna Sinistra */

.player-section__left{
    padding-left: 11px;
}

.player-section .player-section__album-img{
    max-width: 42px;
    margin-right: 12px;
}

.player-section__song-details{
    margin-right: 12px;
}

.player-section .player-section__left > .row{
    justify-content: space-between;
}

.player-section .player-section__icon-left{
    gap: 14px;
    color: var(--light-grey);
}

.player-section__album{
    font-size: 13px;
    font-weight: 600;
}

.player-section__nome-brano{
    font-size: 11px;
    color: var(--light-grey);
}

/* Colonna Destra */

.player-section__right{
    padding-right: 11px;
}

.player-section__icon-right > .row{
    gap: 17px;
}

.player-section__right > .row{
    gap: 17px;
}

.player-section__volume > .row{
    gap: 14px;
}

.player-section__volume {
    flex-grow: 1;
}

.player-section__volume .volume-bar{
    width: 100%;
    position: relative;
}

.volume-progress,
.volume-total {
    height: 5px;
    position: absolute;
    transform: translate(0, -50%);
    top: 0;
    left: 0;
    border-radius: 20px;
}

.volume-progress{
    width: 30%;
    background-color: var(--light-grey);
    z-index: 1;
}

.volume-total{
    width: 100%;
    background-color: #5A5A5A;
}

.player-section__right i{
    font-size: 13px;
}

/* Colonna Centrale */
.player-section__center > .row{
    flex-direction: column;
}


.player-section__center-bottom > .row{
    justify-content: space-between;
}

.player-section__center-bottom .volume-bar{
    width: 80%;
    position: relative;
}

.player-section__center-top > .row{
    justify-content: center;
    gap: 22px;
}

.player-section__center-top .play-icon{
    font-size: 30px;
    padding: 0 10px;
}

/* Player Section Query */

@media screen and (max-width: 552px) {

    .player-section .player-section__icon-left {
    row-gap: 10px;
    }

}

/* Header Rules */

.main-header {
    background-color: var(--background-header);
    color: white;
}

.main-header > .row {
    flex-direction: column;
    height: 100%;
}

/* Logo */

.main-header .header__logo {
    margin: 20px 0 0 21px;
}

.header__logo .header__logo-big{
    width: 131px;
}

.header__logo .header__logo-small{
    display: none;
}

/* Menu */

.header__menu{
    margin: 24px 0;
}

.header__menu .menu-home{
    width: 25px;
    margin-right: 9px;
}

.header__menu .menu-title{
    font-size: 14px;
}

.main-header .header__menu a{
    display: inline-block;
    padding: 6px 23px;
}

.main-header .menu-title{
    color: var(--light-grey);
}

/* Da controllare */
.main-header .menu-title:visited{
    color: white;
}

/* Playlist Rules */

.header__playlist{
    padding: 0 20px;
}

.playlist__title{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.playlist__button{
    padding-bottom: 10px;
}

.header__playlist .row{
   gap: 10px;
}

.playlist__button > a{
    display: contents;
}

.playlist__plus{
    font-size: 35px;
    padding: 0 13px;
    background-color: var(--light-grey);
    color: black;
}

.playlist__link{
    color: var(--light-grey);
    font-size: 15px;
    font-weight: 700;
}

.playlist__nome{
    font-size: 14px;
    font-weight: 600;
    color: var(--light-grey);
    margin: 13px 0;
}

/* Installa App */

.main-header .header__download {
    margin: auto 20px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--light-grey);
    color: var(--light-grey);
    font-size: 14px;
}

.header__download .download__icon{
    margin-left: 3px;
    margin-right: 11px;
}

/* Header User */

.main-header .header__user{
    margin: 14px 0 7px 20px;
}

.header__user .user__icon{
    margin-right: 10px;
    height: 25px;
    aspect-ratio: 1;
    background-color: var(--light-grey);
    border-radius: 50%;
}


.header__user .header__user__name{
    font-size: 14px;
    font-weight: 800;
}


/* Header Query */

@media screen and (max-width: 552px) {

    /* Logo */
    .header__logo .header__logo-big{
        display: none;
    }
    
    .header__logo .header__logo-small{
        display: block;
        width: 28px;
    }

    .main-header .header__logo {
        margin: 5px 11px;
    }

    /* Menu */

    .main-header .menu-title{
        display: none;
    } 

    .header__menu .menu-home{
        width: 25px;
        margin-right: 0;
    }
    
    .main-header .header__menu a{
        display: inline-block;
        padding: 6px 15px;
    }

    /* Playlist */

    .header__playlist{
        display: none;
    }

    /* Installa app */

    .main-header .header__download {
        border-bottom: 0;
        margin: auto 20px 8px;
        padding-bottom: 0;
    }

    .header__download .download__text{
        display: none;
    }

    /* Header User */
    .main-header .header__user{
        margin: 14px 12px 10px 13px;
    }

    .header__user .header__user__name{
        display: none;
    }

}

/* Contenuto principale */

.main-content {
    background-color: var(--blue);
}


/* Update bar */

.update-bar {
    justify-content: flex-end;
    background-color: var(--dark-blue);
    position: fixed;
    top: 0px;
    left: 230px;
    right: 0;
    z-index: 10;
}

.update-bar .button {
    margin: 20px 5px 28px 0;
    font-size: 12px;
}

.update-bar .button:hover {
    transform: scale(1.1);
}


/* Query */

@media screen and (max-width: 552px) {

    .update-bar {
        left: 50px;
    }

}

/* Category Content */

.category-content{
    margin-top: calc( 90px + 23px );
    margin-bottom: 39px;
}

.category__list{
    display: contents;
}

.category-content > .row{
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 44px;
}

.category__item{
    font-size: 14px;
    font-weight: 600;
    color: var(--light-grey);
    text-transform: uppercase;
    position: relative;
}

.category__item:hover{
    color: white;
}

.category__item .active::after{
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    background-color: #ADFF2F;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
}

/* Recently played */

.recently-played{
    padding-bottom: 45px;
}
.carousel-section{
    gap: 15px;
}

.recently-played .title-section{
    margin-bottom: 30px;
}

.col-2{
    flex-basis: calc( (100%/6) - ( 75px / 6) );
}

/* Query Recently played */

@media screen and (max-width: 878px) {

    .col-2{
        flex-basis: calc( (100%/4) - ( 45px / 4) );
    }

    .carousel-section{
        flex-wrap: wrap;
    }

    .card-img{
        width: auto;
    }

}

@media screen and (max-width: 639px) {

    .col-2{
        flex-basis: calc( (100%/2) - ( 15px / 2) );
    }

}

/* Creato per john doe */

.creato-per-user .title-section,
.artisti-popolari .title-section{
    margin-bottom: 13px;
}

.creato-per-user .subtitle-section,
.artisti-popolari .subtitle-section{
    margin-bottom: 30px;
}

.creato-per-user{
    padding-bottom: 32px;
}


/* Artisti Popolari */

.artisti-popolari{
    padding-bottom: 30px;
}

.artisti-popolari .card-img{
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
} 